.game-card-bomb {
  height: 300px;
  width: 150px;
  background-image: linear-gradient(#6ae2b4, #3c95a3);
}
/* .game-card-shuffle {
  height: 300px;
  width: 150px;
  background-image: URL('https://res.cloudinary.com/dzf4jova5/image/upload/c_scale,h_300,w_150/v1623589809/explode_kitten_ybxnin.jpg');
}
.game-card-defuse {
  height: 300px;
  width: 150px;
  background-image: URL('https://res.cloudinary.com/dzf4jova5/image/upload/c_scale,h_300,w_150/v1623589809/explode_kitten_ybxnin.jpg');
}
.game-card-cat {
  height: 300px;
  width: 150px;
  background-image: URL('https://res.cloudinary.com/dzf4jova5/image/upload/c_scale,h_300,w_150/v1623590267/cat_bjfclj.png');
} */
.game-card-back {
  height: 300px;
  width: 150px;
  background-image: URL('https://res.cloudinary.com/dzf4jova5/image/upload/c_scale,h_300,w_150/v1623589809/explode_kitten_ybxnin.jpg');
}

.background {
  background-size: cover;
  background-image: URL('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v462-n-130-textureidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9465282a2b0a375f4f5b120d7bbad882');
  height: 100vh;
  width: 100vw;
}
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:focus .card-front {
  transform: rotateY(-180deg);
}

.card-flip:focus .card-back {
  transform: rotateY(0deg);
}
/* .profileContainer {
  width: '50px';
} */
